<h1><%= @user.nickname %>のマイページ</h1>

<h2><%= @user.nickname %>の記事一覧</h2>
<div>
  <% @articles.each do |article| %>
    <div>
      <%= link_to article_path(article) do %>
        <div>タイトル：
          <%= article.article_title %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>