/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * コメントアウト
 * require_tree .
 * require_self
 */

/*bootstrap及びfont-awesome、GoogleFontsの設定*/
@import "bootstrap-sprockets";
@import "bootstrap-custom";
@import "bootstrap-datetimepicker";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Boogaloo');
/* SCSSファイルの読み込み */
// @import "reset";
@import "home";
@import "header";
@import "users";
@import "cats";
@import "articles";
@import "events";
@import "posts";
@import "form";
@import "orders";
@import "reservations";
@import "footer";
@import "responsive";
@import "slicknav";


/* 基本設定 */
html,body{
  height: 100%;
  margin: 0;
}
body{
  color: #000;
  height: 100%;
  margin: 0px;
  font-family: "Mplus 1p", verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
a{
  text-decoration: none!important;
}
ul{
  list-style: none!important;
}
h1{
  font-family: "Rounded Mplus 1c", verdana, arial, helvetica, sans-serif!important;
}
/* floatのクリア機能 */
.clear{
  clear: both;
}
/* ページングのデザイン */
div.paginate_box{
  text-align: center;
  ul.pagination{
    .active a{
      color: #fff;
      background-color: #ec8c2e;
      border-color: #ec8c2e;
    }
    li a{
      color: #ec8c2e;
    }
  }
}

/* noticeの設定 */
#notice{
  color: #ff4500;
}
